.container {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
}

.form-input {
  display: flex;
  justify-content: center;
  font-family: "DM Sans", sans-serif;
  margin: 4rem auto;
  padding: 1rem 1rem 1rem;
  max-width: 500px;
  background: #ff6666;
  color: #fff;
  border-radius: 5%;
  box-shadow: 5px 5px 0px 0px rgba(100, 100, 100, 0.1);
}
